<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="apple-touch-icon" sizes="76x76" href="/assets/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/ico/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/ico/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/ico/manifest.json">
    <link rel="mask-icon" href="/assets/ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="insectin.space">
    <meta name="application-name" content="insectin.space">
    <meta name="msapplication-config" content="/assets/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>Insect</title>

    <!-- Styles -->
    <link href="/assets/css/theDocs.all.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400' rel='stylesheet' type='text/css'>

</head>

<body>

<header class="site-header navbar-fullwidth">

    <!-- Top navbar & branding -->
    <nav class="navbar navbar-default">
        <div class="container">

            <!-- Toggle buttons and brand -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="glyphicon glyphicon-option-vertical"></span>
                </button>

                <button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="/"><img src="/assets/img/logo.png" alt="logo"></a>
            </div>
            <!-- END Toggle buttons and brand -->

        </div>
    </nav>
    <!-- END Top navbar & branding -->


</header>

<main class="container">
    <div class="row">

        <!-- Main content -->
        <article class="col-md-12 col-sm-12 main-content" role="main">

            <header>
                <h1>Changelog</h1>
                <p>On this page, you can find a record of all the changes made to this project such as bug fixes, new features, etc.</p>
                <p>Current version and release info: {{version}} {{build_info}}</p>

                <ol class="toc">
                    <li><a href="#v1.0.1">Version 1.0.1</a></li>
                    <li><a href="#v1.0.0">Version 1.0.0</a></li>
                    <li><a href="#v0.1.4">Version 0.1.4</a></li>
                    <li><a href="#v0.1.3">Version 0.1.3</a></li>
                    <li><a href="#v0.1.2">Version 0.1.2</a></li>
                    <li><a href="#v0.1.1">Version 0.1.1</a></li>
                    <li><a href="#v0.1.0">Version 0.1.0</a></li>
                </ol>
            </header>
            <section>
                <h3 id="v1.0.1"><a href="https://github.com/MarkoVcode/Insect/releases/tag/v1.0.1">Version 1.0.1 - HAN</a><small class="release-date">May 27, 2017</small></h3>
                <br>
                <ul class="changelog">
                    <li class="ch-added">Mock - The body presence can be disabled/enabled for all methods</li>
                    <li class="ch-added">Mock - Smarter resources path matching</li>
                    <!--<li class="ch-added">Dig Deep - service documentation</li>-->
                </ul>
            </section>
            <section>
                <h3 id="v1.0.0"><a href="https://github.com/MarkoVcode/Insect/releases/tag/v1.0.0">Version 1.0.0 - DOB</a>&nbsp;<span class="glyphicon glyphicon-gift" aria-hidden="true"></span><small class="release-date">May 11, 2017</small></h3>
                <br>
                <ul class="changelog">
                    <li class="ch-added">Mock - Instant Remote RESTful Service Mocking (IRRSM)</li>
                    <li class="ch-added">Proxy - History dropdown with upstreams used by historical sessions</li>
                    <li class="ch-fixed">Proxy - Auto cleanup old sessions fingerprint from the local browser storage</li>
                </ul>
            </section>

            <section>
                <h3 id="v0.1.4"><a href="https://github.com/MarkoVcode/Insect/releases/tag/v0.1.4">Version 0.1.4 - ACE</a><small class="release-date">April 23, 2017</small></h3>
                <br>
                <ul class="changelog">
                    <li class="ch-added">Toast informing online users about deployment/monitoring deployed version</li>
                    <li class="ch-fixed">Displaying date of the recorded response instead of raw timestamp</li>
                    <li class="ch-fixed">Problem with rendering proxy output when non-JSON request/response body</li>
                    <li class="ch-fixed">Some proxy output not displayed due to issue with 'fade in' animation error</li>
                </ul>
            </section>

            <section>
                <h3 id="v0.1.3"><a href="https://github.com/MarkoVcode/Insect/releases/tag/v0.1.3">Version 0.1.3 - FUN</a><small class="release-date">March 29, 2017</small></h3>
                <br>
                <ul class="changelog">
                    <li class="ch-added">...way more fun!!!</li>
                    <li class="ch-added">Improving demo GET functionality / proxy request to avoid cross-origin AJAX HTTP request</li>
                    <li class="ch-added">Tooltip with formatted JSON content for headers and bodys</li>
                    <li class="ch-added">Slight flashing when new set of PROXY results are popping up</li>
                    <li class="ch-added">Indicator for WebSockets activity</li>
                    <li class="ch-added">Making UI slightly more responsive (do not expect it to be mobile friendly, though).</li>
                </ul>
            </section>

            <section>
                <h3 id="v0.1.2"><a href="https://github.com/MarkoVcode/Insect/releases/tag/v0.1.2">Version 0.1.2 - AAH</a><small class="release-date">February 23, 2017</small></h3>
                <br>
                <ul class="changelog">
                    <li class="ch-fixed">Response time counter issue</li>
                </ul>
            </section>

            <section>
                <h3 id="v0.1.1"><a href="https://github.com/MarkoVcode/Insect/releases/tag/v0.1.1">Version 0.1.1 - WOW</a><small class="release-date">February 19, 2017</small></h3>
                <br>
                <ul class="changelog">
                    <li class="ch-added">API - /service/selftest resource</li>
                    <li class="ch-added">Button for quick replacing upstream with /service/selftest resource</li>
                    <li class="ch-added">Test GET request button</li>
                    <li class="ch-added">'Copy to clipboard' for ephemeral resource</li>
                    <li class="ch-added">Screen grab for gathered transmission records</li>
                    <li class="ch-added">'Clear all' button for gathered transmission records</li>
                    <li class="ch-added">This 'changelog' page</li>
                    <li class="ch-fixed">Delete single record issue</li>
                </ul>
            </section>

            <section>
                <h3 id="v0.1.0"><a href="https://github.com/MarkoVcode/Insect/releases/tag/v0.1.0">Version 0.1.0</a><small class="release-date">February 05, 2017</small></h3>
                <p>Initial release with very basic set of features.</p>
            </section>

        </article>
        <!-- END Main content -->
    </div>
</main>

<!-- Footer -->
<footer class="site-footer">
    <div class="container">
        <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p><img src="/assets/insect/softcognito_f03.png" height="24" width="117">&nbsp;&nbsp;Copyright &copy; 2016. All right reserved</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul class="footer-menu">
                    <li><a class="active" href="/changelog">Changelog</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- END Footer -->

<!-- Scripts -->
<script src="/assets/js/theDocs.all.min.js"></script>
<script src="/assets/js/custom.js"></script>
</body>
</html>
