<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>Insect project WEB interface</display-name>
    <description>
        This is web interface for Insect project online service.
    </description>
    <filter>
        <filter-name>default</filter-name>
        <filter-class>org.scg.webapp.run.filter.StaticFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>default</filter-name>
        <url-pattern>/assets/*</url-pattern>
        <url-pattern>/robots.txt</url-pattern>
        <url-pattern>/.well-known/pki-validation/gsdv.txt</url-pattern>
        <url-pattern>/favicon.ico</url-pattern>
        <url-pattern>/android-chrome-72x72.png</url-pattern>
        <url-pattern>/apple-touch-icon.png</url-pattern>
        <url-pattern>/browserconfig.xml</url-pattern>
        <url-pattern>/favicon-16x16.png</url-pattern>
        <url-pattern>/favicon-32x32.png</url-pattern>
        <url-pattern>/manifest.json</url-pattern>
        <url-pattern>/mstile-150x150.png</url-pattern>
        <url-pattern>/safari-pinned-tab.svg</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>InsectWeb</filter-name>
        <filter-class>spark.servlet.SparkFilter</filter-class>
        <init-param>
            <param-name>applicationClass</param-name>
            <param-value>org.scg.webapp.run.WebappDriver</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>InsectWeb</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
