<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="apple-touch-icon" sizes="76x76" href="/assets/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/ico/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/ico/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/ico/manifest.json">
    <link rel="mask-icon" href="/assets/ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="insectin.space">
    <meta name="application-name" content="insectin.space">
    <meta name="msapplication-config" content="/assets/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>Insect - 404</title>

    <!-- Styles -->
    <link href="/assets/css/theDocs.all.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400' rel='stylesheet' type='text/css'>

</head>

<body>

<main class="container">
    <div class="row">

        <!-- Sidebar -->
        <aside class="col-md-3 col-sm-3 sidebar">

        </aside>
        <!-- END Sidebar -->

        <!-- Main content -->
        <article class="col-md-9 col-sm-9 main-content" role="main">

            <header>
                <h1>404</h1>
                <p>It must be a mistake!</p>
            </header>

        </article>
        <!-- END Main content -->
    </div>
</main>

</body>
</html>
