<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>Insect</title>

    <!-- Styles -->
    <link href="/assets/css/theDocs.all.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400' rel='stylesheet' type='text/css'>

  </head>

  <body>

    <header class="site-header navbar-fullwidth">

      <!-- Top navbar & branding -->
      <nav class="navbar navbar-default">
        <div class="container">

          <!-- Toggle buttons and brand -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="glyphicon glyphicon-option-vertical"></span>
            </button>

            <button type="button" class="navbar-toggle for-sidebar" data-toggle="offcanvas">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>
          <!-- END Toggle buttons and brand -->

          <!-- Top navbar -->
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
            <ul class="nav navbar-nav navbar-right">
                <li><button type="button" id="git-link-button" class="btn btn-lg btn-dark"><i class="fa fa-git"></i></button></li>
            </ul>
          </div>
          <!-- END Top navbar -->

        </div>
      </nav>
      <!-- END Top navbar & branding -->

      <!-- Banner -->
      <div class="banner banner-full-height overlay-white" style="background-image: url(/assets/img/banner2.jpg);">
        <div class="container text-left">
          <h1 class="text-teal"><strong>Insect</strong></h1>
          <h5 class="text-uppercase">Introspective Ephemeral Reversed Proxy</h5>
          <br>
          <p class="hidden-xs hidden-sm"><strong>Insect</strong> is made to aid the process of troubleshooting third party integrations via RESTful APIs. The solution particularly useful when working with SaaS platforms and for documenting purposes.</p>
          <br>
          <p>
            <a class="btn btn-teal btn-lg text-uppercase" href="#getting_started" role="button"> Find out more </a>
            <a class="btn btn-teal btn-lg btn-outline text-uppercase" href="/peek" role="button"> Start Now! </a>
          </p>
        </div>
          <ul class="social-icons">
              <li><a href="https://github.com/MarkoVcode/Insect"><i class="fa fa-github"></i></a></li>
          </ul>
      </div>
      <!-- END Banner -->

    </header>


    <main class="container">
      <div class="row">

        <!-- Sidebar -->
        <aside class="col-md-3 col-sm-3 sidebar">

        </aside>
        <!-- END Sidebar -->

        <!-- Main content -->
        <article class="col-md-9 col-sm-9 main-content" role="main">

          <header>
            <h1 id="getting_started">Welcome to Insect</h1>
            <p>Insect is a service greatly inspired by Hoverfly project. Insect is overcoming limitations when working with SaaS solutions. It handsomely goes with debuging and documenting RESTful web services interaction.</p>
          </header>

          <section>
            <h2 id="basic">About Insect</h2>
              <p>- Made with SaaS platforms in mind</p>
              <p>- Supports RESTful APIs with JSON payloads</p>
              <p>- Real-time data interception</p>
              <p>- Highly volatile - not storing intercepted data</p>
              <p>- Safe - endpoint working only when consumers are active, otherwise 404</p>
              <p>- Share with many viewers - discus online the results as they come</p>
              <p>- Session owner/viewer roles</p>
            <div class="callout callout-warning" role="alert">
              <h4>Data Security Concern</h4>
                <p>Insect is not storing intercepted service conversations at any point.</p>
            </div>

          </section>

        </article>
        <!-- END Main content -->
      </div>
    </main>


    <!-- Footer -->
    <footer class="site-footer">
      <div class="container">
        <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p>Copyright &copy; 2016. All right reserved</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <ul class="footer-menu">
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- END Footer -->

    <!-- Scripts -->
    <script src="/assets/js/theDocs.all.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/insect/js/home.js"></script>
  </body>
</html>
