.main-content {
    padding: 10px 50px 10px 0;
}

pre {
    background-color: #ededed;
    border-color: #ededed;
}

.tight {
    margin-bottom: 0px;
    height: 24px;
}

.tightinput {
    margin-bottom: 0px;
    height: 24px;
    padding: 6px 4px;
    color: #000;
}

.tightdropdown {
    margin-bottom: 0px;
    height: 34px;
    padding: 6px 4px;
    color: #000;
}

.tightdropdowngroup {
    margin-bottom: 0px;
    height: 33px;
}

.tightpayloadgroup {
    margin-bottom: 0px;
}

.narrow {
    width: 37px;
}
