<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="apple-touch-icon" sizes="76x76" href="/assets/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/ico/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/ico/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/ico/manifest.json">
    <link rel="mask-icon" href="/assets/ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="insectin.space">
    <meta name="application-name" content="insectin.space">
    <meta name="msapplication-config" content="/assets/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title>Insect - Peek</title>

    <!-- Styles -->
    <link href="/assets/css/theDocs.all.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    <link href="/assets/insect/css/tooltipster.bundle.min.css" rel="stylesheet">
    <link href="/assets/insect/css/tooltipster-sideTip-light.min.css" rel="stylesheet">
    <link href="/assets/insect/css/jsoneditor.css" rel="stylesheet" type="text/css">
    <link href="/assets/insect/css/toastr.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/insect/css/insect.css" rel="stylesheet">

    <!-- Fonts -->
    <link href='//fonts.googleapis.com/css?family=Raleway:100,300,400,500%7CLato:300,400' rel='stylesheet' type='text/css'>

  </head>

  <body id="screengrab-main-content">

    <header class="site-header">

      <!-- Top navbar & branding -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <!-- Toggle buttons and brand -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
              <span class="glyphicon glyphicon-option-vertical"></span>
            </button>

              <a class="navbar-brand" href="/"><img src="/assets/img/logo.png" alt="logo"></a>
          </div>
          <!-- END Toggle buttons and brand -->

          <!-- Top navbar -->
          <div id="navbar" class="navbar-collapse collapse" aria-expanded="true" role="banner">
            <ul class="nav navbar-nav navbar-right">
                <li>
                <button type="button" class="btn btn-lg btn-default">{{psid}}</button>
                <button type="button" class="btn btn-lg btn-danger" id="indicator-ws">Offline</button>
{{#has_ownership}}
                {{^is_active}}
                    <button type="button" class="btn btn-lg btn-danger" id="indicator-proxy">Proxy Inactive</button>
                {{/is_active}}
                {{#is_active}}
                    <button type="button" class="btn btn-lg btn-success" id="indicator-proxy">Proxy Active</button>
                {{/is_active}}
                 <!--   <button type="button" class="btn btn-lg btn-danger" id="indicator-proxy">Mock Inactive</button>
                    <button type="button" class="btn btn-lg btn-danger" id="indicator-proxy">Mock-1 Active</button> -->
                <button type="button" class="btn btn-lg btn-danger" id="session-timeout">00:00</button>
{{/has_ownership}}
                </li>
            </ul>
          </div>
          <!-- END Top navbar -->

        </div>
      </nav>
      <!-- END Top navbar & branding -->

    </header>

    <main class="container-fluid">

      <div class="row">

          <article class="col-md-12 main-content" role="main">
              <button type="button" id="proxy-reset" class="btn btn-xs btn-primary">{{^has_ownership}}Get yourself own session!{{/has_ownership}}
                  {{#has_ownership}}Get yourself a new session!{{/has_ownership}}</button>

          <div class="tabs tabs-text">

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#proxy" aria-controls="home" role="tab" data-toggle="tab">Proxy</a>
                </li>
{{#has_ownership}}
    {{#has_mock}}
                <li role="presentation">
                    <a href="#mock" aria-controls="profile" role="tab" data-toggle="tab">API Mock</a>
                </li>
    {{/has_mock}}
{{/has_ownership}}
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active fade in" id="proxy">
                      <table class="table table-bordered table-striped table-info">
                          <tbody>
                          <tr>
                              <td>Endpoint:</td>
                              <td><strong id="endpoint-url">{{new_api_endpoint}}</strong>&nbsp;&nbsp;<button type="button" id="proxy-endpoint-clipboard" class="btn btn-xs btn-purple" data-clipboard-action="copy" data-clipboard-target="#endpoint-url"><i class="fa fa-copy"></i> Copy</button></td>
                              <td>{{#has_ownership}}
                                  {{^is_active}}
                                      <button type="button" id="proxy-endpoint-testget" class="btn btn-xs btn-purple" disabled>Make test GET request</button>
                                  {{/is_active}}
                                  {{#is_active}}
                                      <button type="button" id="proxy-endpoint-testget" class="btn btn-xs btn-purple">Make test GET request</button>
                                  {{/is_active}}
                              {{/has_ownership}}</td>
                          </tr>
                          <tr>
                              <td>Upstream:</td>
                              <td>
                                  <div class="form-group">
                                  {{^has_ownership}}
                                      <input type="text" id="api-endpoint" class="form-control" value="{{proxy_api_endpoint}}" size="70" disabled>
                                  {{/has_ownership}}
                                  {{#has_ownership}}
                                      {{^is_active}}
                                          <input type="text" id="api-endpoint" class="form-control" value="{{proxy_api_endpoint}}" size="80">
                                      {{/is_active}}
                                      {{#is_active}}
                                          <input type="text" id="api-endpoint" class="form-control" value="{{proxy_api_endpoint}}" size="80" disabled>
                                      {{/is_active}}
                                  {{/has_ownership}}
                                  </div>
                                  <div id="api-endpoint-error"></div>
                              </td>
                              <td>{{#has_ownership}}
                                  {{^is_active}}
                                      <button type="button" id="proxy-upstream-selftest" class="btn btn-xs btn-purple">Use demo upstream</button>
                                  {{/is_active}}
                                  {{#is_active}}
                                      <button type="button" id="proxy-upstream-selftest" class="btn btn-xs btn-purple" disabled>Use demo upstream</button>
                                  {{/is_active}}
                              {{/has_ownership}}</td>
                          </tr>
                          {{#has_ownership}}
                              <tr>
                                  <td></td>
                                  <td>
                                      {{^is_active}}
                                          <button type="button" id="proxy-start" class="btn btn-lg btn-success"><i class="fa fa-caret-square-o-right"></i> Start</button>
                                          <button type="button" id="proxy-stop" class="btn btn-lg btn-danger" disabled><i class="fa fa-square"></i> Stop</button>
                                      {{/is_active}}
                                      {{#is_active}}
                                          <button type="button" id="proxy-start" class="btn btn-lg btn-success" disabled><i class="fa fa-caret-square-o-right"></i> Start</button>
                                          <button type="button" id="proxy-stop" class="btn btn-lg btn-danger"><i class="fa fa-square"></i> Stop</button>
                                      {{/is_active}}
                                  </td>
                                  <td></td>
                              </tr>
                          {{/has_ownership}}
                          </tbody>
                      </table>
                  </div>

{{#has_ownership}}
        <div role="tabpanel" class="tab-pane fade" id="mock">








            <div class="tabs tabs-text">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    {{#mock_no}}
                        <li role="presentation" class="{{#value}}active{{/value}}">
                            <a href="#mock{{key}}" aria-controls="messages" role="tab" data-toggle="tab">Mock-{{key}}</a>
                        </li>
                    {{/mock_no}}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
        {{#mock_no}}
                    <div role="tabpanel" class="tab-pane {{#value}}active{{/value}}{{^value}}fade{{/value}}" id="mock{{key}}">
                        <form id="mock-form-{{key}}">
                            <table class="table table-bordered table-striped table-info">
                                <tbody>
                                <tr>
                                    <td width="95">Resources:</td>
                                    <td></td>
                                    <td width="40">
                                        <button type="button" data-mock-group="{{key}}" class="btn btn-xs btn-success mock-add-resource-button"><i class="fa fa-plus"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td id="mock-methods-container-{{key}}">

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button type="button" data-mock-group="{{key}}" class="btn btn-lg btn-success mock-save"><i class="fa fa-caret-square-o-right"></i> Save</button>
                                        <button type="button" data-mock-group="{{key}}" class="btn btn-lg btn-danger mock-deploy"><i class="fa fa-square"></i> Save & Deploy</button>
                                    </td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
            {{/mock_no}}
                </div>
            </div>
        </div>

{{/has_ownership}}

              </div>
          </div>
        </article>

          <article class="col-md-12 main-content">
              <div id="result-buttons" style="display: none;">
                  <button type="button" id="proxy-print-result" class="btn btn-xs btn-purple"><i class="fa fa-camera"></i> Capture output</button>&nbsp;<button type="button" id="proxy-result-clearall" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Clear all</button>
              </div>
              <div id="proxy-updates"></div>
          </article>
        <!-- END Main content  -->
      </div>
    </main>


    <!-- Footer -->
    <footer class="site-footer">
      <div class="container-fluid">
        <a id="scroll-up" href="#"><i class="fa fa-angle-up"></i></a>

        <div class="row">
          <div class="col-md-6 col-sm-6">
              <p><img src="/assets/insect/softcognito_f03.png" height="24" width="117">&nbsp;&nbsp;Copyright &copy; 2016. All right reserved</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <ul class="footer-menu">
                <li><a class="active" href="/changelog">Changelog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- END Footer -->

    <!-- Scripts text/x-handlebars-template -->
    <script>
    var configObj = {
        websocketsURL: '{{config_websockets_url}}',
        selftestURL: '{{selftest_url}}',
        selftestWebProxy: '{{selftest_web_proxy_url}}',
        sessionTimeout: {{config_session_timeout}},
        mockDeployURL: '{{mock_deploy_url}}',
        releaseKey: '{{{release_key}}}',
        psid: '{{psid}}'
        };
    </script>
    <script id="proxy-capture-template" type="text/x-handlebars-template">
        <table id="<%augment.tid%>" class="table table-bordered table-striped table-info" style="display: none;">
            <tbody>
            <tr>
                <td>
                    <button type="button" class="btn btn-xs btn-outline btn-danger remove-line" data-section-id="<%augment.tid%>"><i class="fa fa-close"></i></button>
                </td>
                <td>
                    &nbsp;<span class="label label-primary">Dispatch Timestamp</span>&nbsp;<%proxy.general.dateDispatch%>&nbsp;<span class="label label-primary">Response Time [us]</span>&nbsp;<%proxy.general.responseTime%>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>Request:</td>
                <td>
                    <span class="label label-default">Header</span>&nbsp;<span class="tooltipx" data-tooltip-content="#tooltip_c_rqh_<%augment.tid%>"><%augment.requestheader%></span><br>
                    <span class="label label-<%augment.methodcolor%>">Method</span>&nbsp;<%proxy.request.method%><br>
                    <span class="label label-primary">Host</span>&nbsp;<%proxy.request.host%><br>
                    <span class="label label-primary">Path</span>&nbsp;<%proxy.request.path%><br>
                    <span class="label label-<%augment.protocolor%>">Protocol</span>&nbsp;<%proxy.request.protocol%><br>
                    <span class="label label-purple">Body</span><code class="language-json tooltipx" data-tooltip-content="#tooltip_c_rqb_<%augment.tid%>"><%augment.requestbody%></code>
                </td>
            </tr>
            <tr>
                <td>Response:</td>
                <td>
                    <span class="label label-default">Header</span>&nbsp;<span class="tooltipx" data-tooltip-content="#tooltip_c_rsh_<%augment.tid%>"><%augment.responseheader%></span><br>
                    <span class="label label-<%augment.codecolor%>">Code</span>&nbsp;<%proxy.response.code%><br>
                    <span class="label label-<%augment.codecolor%>">Message</span>&nbsp;<%proxy.response.message%><br>
                    <span class="label label-purple">Body</span><code class="language-json tooltipx" data-tooltip-content="#tooltip_c_rsb_<%augment.tid%>"><%augment.responsebody%></code>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="tooltip_templates" id="<%augment.tid%>-tooltip" style="display: none">
            <span id="tooltip_c_rqh_<%augment.tid%>">
                <pre><%augment.requestheaderhtml%></pre>
            </span>
            <span id="tooltip_c_rqb_<%augment.tid%>">
                <pre><%augment.requestbodyhtml%></pre>
            </span>
            <span id="tooltip_c_rsh_<%augment.tid%>">
                <pre><%augment.responseheaderhtml%></pre>
            </span>
            <span id="tooltip_c_rsb_<%augment.tid%>">
                <pre><%augment.responsebodyhtml%></pre>
            </span>
        </div>


    </script>
    <script id="mock-method-template" type="text/x-handlebars-template">
        <table class="table table-bordered table-striped table-info" id="mock-method-container-<%group%>-<%tid%>">
            <tbody>
            <tr>
                <td width="150">Request Method:</td>
                <td>
                    <div class="form-group">
                        <select class="form-control mock-method-select dropdown-grp-<%group%>" data-mock-method-group="dropdown-grp-<%group%>" data-mock-payload="json-payload-<%group%>-<%tid%>" data-mock-linked="code-dropdown-<%group%>-<%tid%>" id="method-dropdown-<%group%>-<%tid%>" name="method-<%group%>-<%tid%>">
                            <&methods_options&>
                        </select>
                    </div>
                </td>
                <td width="40">
                    <button type="button" data-mock-group="<%group%>-<%tid%>" class="btn btn-xs btn-danger mock-delete-method-button"><i class="fa fa-remove"></i></button>
                </td>
            </tr>
            <tr>
                <td>Response Code:</td>
                <td>
                    <div class="form-group">
                        <select class="form-control mock-respcode-select" data-mock-payload="json-payload-<%group%>-<%tid%>" data-mock-linked="method-dropdown-<%group%>-<%tid%>" id="code-dropdown-<%group%>-<%tid%>" name="respcode-<%group%>-<%tid%>">
                            <&codes_options&>
                        </select>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>Headers:</td>
                <td>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                                <th width="40"><button type="button" data-mock-group="<%group%>-<%tid%>" class="btn btn-xs btn-success mock-add-header-button"><i class="fa fa-plus"></i></button></th>
                            </tr>
                            </thead>
                            <tbody id="mock-headers-container-<%group%>-<%tid%>">

                            </tbody>
                        </table>
                    </div>
                </td>
                <td></td>
            </tr>
            <tr id="json-payload-<%group%>-<%tid%>">
                <td>Response JSON Payload:</td>
                <td>
                    <div class="form-group">
                        <div id="jsoneditor-<%group%>-<%tid%>"></div>
                        <input type="hidden" id="ijsoneditor-<%group%>-<%tid%>" name="payload-<%group%>-<%tid%>">
                        <!-- <textarea class="form-control json-payload" rows="5" name="payload-<%group%>-<%tid%>"></textarea> -->
                    </div>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </script>
    <script id="mock-headers-template" type="text/x-handlebars-template">
        <tr id="mock-header-<%group%>-<%tid%>">
            <td><input class="form-control" type="text" name="header-name-<%group%>-<%tid%>" value=""></td>
            <td><input class="form-control" type="text" name="header-value-<%group%>-<%tid%>" value=""></td>
            <td><button type="button" data-mock-group="<%group%>-<%tid%>" class="btn btn-xs btn-danger mock-delete-header-button"><i class="fa fa-remove"></i></button></td>
        </tr>
    </script>
    <script id="mock-resource-template" type="text/x-handlebars-template">
        <div id="resource-url-copy-<%group%>-<%tid%>" style="display: none"></div>
        <table class="table table-bordered table-striped table-info" id="mock-resource-container-<%group%>-<%tid%>">
            <tbody>
            <tr>
                <td><div class="form-group"><strong id="resource-url-<%group%>-<%tid%>">{{new_mock_endpoint}}/</strong><input class="form-control" type="text" name="path-<%group%>-<%tid%>" id="resource-path-<%group%>-<%tid%>" value="">&nbsp;&nbsp;<button type="button" id="proxy-endpoint-clipboard" class="btn btn-xs btn-purple" data-clipboard-action="copy" data-clipboard-target="#resource-url-copy-<%group%>-<%tid%>"><i class="fa fa-copy"></i> Copy</button></div></td>
                <td width="40">
                    <button type="button" data-mock-group="<%group%>-<%tid%>" class="btn btn-xs btn-danger mock-delete-resource-button"><i class="fa fa-remove"></i></button>
                </td>
            </tr>
            <tr>
                <td id="mock-methods-<%group%>-<%tid%>">



                </td>
                <td>
                    <button type="button" data-mock-group="<%group%>-<%tid%>" class="btn btn-xs btn-success mock-add-method-button"><i class="fa fa-plus"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </script>
    <script src="/assets/js/theDocs.all.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/insect/js/html2canvas.js"></script>
    <script src="/assets/insect/js/clipboard.min.js"></script>
    <script src="/assets/insect/js/tooltipster.bundle.min.js"></script>
    <script src="/assets/insect/js/handlebars.js"></script>
    <script src="/assets/insect/js/ace.js"></script>
    <script src="/assets/insect/js/jsoneditor-minimalist.js"></script>
    <script src="/assets/insect/js/toastr.min.js"></script>
    <script src="/assets/insect/js/peek.js"></script>
    <script src="/assets/insect/js/mock.js"></script>
  </body>
</html>
