<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>Insect WebSockets service</display-name>
    <description>
        This is Scalable WebSocket for Insect online service.
    </description>
    <servlet>
        <servlet-name>InsectWebSockets</servlet-name>
        <servlet-class>org.scg.websockets.servlet.PushServiceSocketServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsectWebSockets</servlet-name>
        <url-pattern>/inspush/*</url-pattern>
    </servlet-mapping>
</web-app>
